@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navlink {
  background-color: #121212;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.page {
  height: 100vh;
}

.Login {
  height: 90%;
  background-color: #121212;
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
}

.Login-Box {
  margin-top: 3%;
  height: 82%;
  padding: 2%;
  width: 60%;
  border-style: solid;
  box-shadow: -1px -1px 2px #fd3c98, 1px 1px 2px #6829e5;
}

.SignUp-Box {
  margin-top: 1%;
  height: 90%;
  padding: 2%;
  width: 60%;
  border-style: solid;
  box-shadow: -1px -1px 2px #ff7a18, 1px 1px 2px #af002d;
}

.Landing {
  height: 90%;
  background-color: #121212;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Landing-Texts {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 6%;
}

.Landing-Buttons {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  margin-top: 1%;
  gap: 4px;
}

.gradient {
  background: linear-gradient(90deg, #ff7a18, #af002d, #fd3c98, #319197);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-gradient {
  background: linear-gradient(90deg, #6829e5, #fd3c98);
  -webkit-background-clip: text;
  color: transparent;
}

.main {
  height: 90%;
  background-color: #121212;
  width: 100%;
}

.search-bar{
  height: 10%;
}

.sport-selector{
  height: 90%;
  width: 100%;
  border-style: solid;
  border-width: 0.1px;
}

.sport {
  flex-grow: 1;
  flex-basis: 0; /* Ensures all items start with the same size */
  transition: flex-grow 0.3s ease; /* Smooth transition for the hover effect */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* Ensure content stays in the correct stacking order */
}

.sport:hover {
  flex-grow: 1.5; /* Grow the item when hovered */
}

.sport::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  transition: opacity 0.5s ease; /* Smooth transition */
  z-index: 1; /* Overlay sits above background, below text */
}

.sport:hover::before {
  opacity: 0; /* Fade the overlay on hover */
}

.sport h1 {
  position: relative;
  z-index: 2; /* Ensures text stays above the overlay */
  color: white;
  font-size: 1rem; /* Adjust text size as needed */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.sport:hover h1{
  opacity: 0;
}

.booking{
  height: 90%;
  background-color: #121212;
  width: 100%;
  padding: 1%;
}

