@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Navlink {
  background-color: #121212;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.page{
  height: 100vh;
}

.Login{
  height: 90%;
  background-color: #121212;
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
}

.Login-Box{
  margin-top: 1%;
  height: 88%;
  padding: 2%;
  width: 60%;
  border-style: solid;
  box-shadow: 
    -1px -1px 2px #fd3c98, 
    1px 1px 2px #6829e5;   
}

.SignUp-Box{
  margin-top: 1%;
  height: 90%;
  padding: 2%;
  width: 60%;
  border-style: solid;
  box-shadow: 
    -1px -1px 2px #ff7a18, 
    1px 1px 2px  #af002d; 
}

.Landing{
  height: 90%;
  background-color: #121212;
  width: 100%;
  display: flex;
  flex-direction: column;
  }

  .Landing-Texts{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 6%;
    
  }

  .Landing-Buttons{
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-top: 1%;
    gap: 4px  ;
  }

  .gradient {
    background: linear-gradient(90deg,#ff7a18, #af002d,#fd3c98, #319197);
    -webkit-background-clip: text;
    color: transparent;
  }

  .nav-gradient{
    background: linear-gradient(90deg, #6829e5, #fd3c98);
    -webkit-background-clip: text;
    color: transparent;
  }
  